/* app global css */

.bg-image {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('https://i.pinimg.com/originals/00/87/b4/0087b4f11244545759b4981338917ba5.jpg'); 
}

